/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(199, 62%, 77%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px; /* Espacio alrededor en dispositivos pequeños */
  }
  
  /* Estilo del encabezado */
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Contenedor del formulario */
  form {
    background-color: #383535;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Resto del estilo */
  label {
    font-size: 14px;
    color: #b9afaf;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #5ab9ea;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #5ab9ea;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button.login{
    background-color: #285872;
  }
  
  button:hover {
    background-color: #7292a3;
  }
  
  #errorMensaje {
    font-size: 13px;
    color: #e74c3c;
    margin-top: -10px;
    margin-bottom: 15px;
  }
  /* Estilo del enlace alternativo debajo de los formularios */
.alt-link {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .alt-link a {
    color: #5ab9ea;
    text-decoration: none;
    font-weight: bold;
  }
  
  .alt-link a:hover {
    color: #4aa3d2;
  }
  